<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Home</title>
</head>

<body>
    <nav class="nav border border-dark">
        <a class="nav-link lead" href="#">Product Management</a>
    </nav>
    <nav class="nav border border-dark">
        <a class="nav-link" href="/home">Home</a>
        <a class="nav-link" href="/aboutus">About Us</a>
        <a class="nav-link" href="/addproduct">Add Product Details</a>
        <a class="nav-link" href="/showreport">Show Report</a>
        <a class="nav-link" href="#" id="logout">Logout</a>
    </nav>

    <div class="container-fluid">
        <div class="row mt-3 ml-5 ">
            <div class="col-3 border border-dark p-3">
                <h4>Welcome to Product Management</h4>
            </div>
        </div>
    </div>

    <div class="row fixed-bottom border border-dark">
        <div class="span12">
            <div>
                <ul class="footer">
                    <li style="list-style-type: none">&copy; Copyright : Faraz : Designed and Developed by Faraz </li>
                    &nbsp;&nbsp;
                </ul>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="/js/app.js"></script>
</body>

</html>