<%- include('common/header') %>

<div class="container-fluid">
    <div class="row mt-3 ml-5 ">
        <div class="col-3 border border-dark p-3">
            <form id="login">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="password">Contact</label>
                    <input type="password" class="form-control" id="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
                <a href="/register">Register</a>
            </form>
        </div>
    </div>
</div>

<div class="row fixed-bottom border border-dark">
    <div class="span12">
        <div>
            <ul class="footer">
                <li style="list-style-type: none">&copy; Copyright : Faraz : Designed and Developed by Faraz </li>
                &nbsp;&nbsp;
            </ul>
        </div>
    </div>
</div>


<%- include('common/footer') %>